* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* common css end */
/* bannar part css start */
.bannar {
    background-image: url(../images/banner/banner2.png);
    padding: 200px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.bannar-text {
    width: 500px;
}

.bannar-text h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.common-description {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    padding: 20px 25px;
    margin-top: 30px;
}

/* bannar part css end */
/* .my-failure-part part css start */
main {
    margin: 0 200px;
}

.my-failure-part {
    display: flex;
    gap: 85px;
    justify-content: space-between;
    margin-top: 100px;
    text-align: left;
}

.failure-image img {
    width: 400px;
}

.failure-text {
    padding-top: 100px;
}

.failure-text p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.failure-description {
    margin: 25px 0;
}

.failure-text p img {
    width: 12px;
    line-height: 18px;
}

/* .my-failure-part part css end */
/* my-skill part css start */
.my-skill {
    text-align: center;
    margin-top: 100px;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.skill-info img {
    width: 50px;
}

.skill-info h3 {
    margin: 20px 0 10px;
}

.skill-info p {
    color: #444343;
}

/* my-skill part css start */
/* my-plan part css start */
.my-plan {
    text-align: center;
    margin: 100px 0;
}

.my-plan-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.plan-info h4 {
    margin: 20px 0 10px;
}

/* my-plan part css end */
/* contact part css start */
.contact {
    background: url(../images/watch.png);
    margin-bottom: 100px;
    border-radius: 10px;
}

.contact-bg {
    background: url(../images/gradient2.png);
    padding: 50px;
}

.contact-text h3 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.secondary-btn {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 20px 25px;

}
/* contact part css end */
/* footer part css start */
.footer {
    display: flex;
    gap: 300px;
    padding: 100px 200px;
    background: #151414;
    color: #FFFFFF;
}
.footer-info h3 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
}
.footer-descript p {
    margin-bottom: 20px;
}
.footer-descript span {
    display: block;
    margin-bottom: 15px;
}
.footer-icon img {
    margin-right: 10px;
}
.footer-info h4 {
    font-weight: 600;
    font-size: 25px;
}
.footer-info input {
    padding: 20px;
    border: 1px solid #F3F3F3;
    background: transparent;
    color: #F3F3F3;
    border-radius: 5px;
    margin: 30px 0 15px;
}

/* footer part css end */